body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background: #fcfcfc;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 2.34vw;
    margin: 0;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    background: white;
    font-size: 1.56vw;
    padding: 4px 0 4px 0;
    box-shadow: 0 1px 15px whitesmoke;
    z-index: 2;
}

header a {
    color: black;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
}

.container {
    width: 84vw;
    margin: 0 auto;
    /*чтобы спозиционировать по центру*/
}

.menu {
    display: flex;
    margin-left: auto;
    font-weight: 600;
}

.menu li {
    margin-right: 1.41vw;
}

.menu a:hover {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}

.logo{
    margin-right: 19.45vw;
}

.phone {
    margin-left: auto;
    margin-right: 1.33vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.56vw;
    color: #3F3D56;
}

.backCall button {
    margin-left: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.56vw;
    font-weight: 600;
    padding: 10px 7px 10px 7px;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 25px;
    cursor: pointer;
}

.businessman-dream h1 {
    font-size: 4.3vw;
    font-weight: 700;
    /*margin-top: 0.756vh;*/
    /*margin-bottom: 1.82vh;*/
    margin-top: 0.756vh;
    margin-bottom: 1.82vh;
}

.businessman-dream h2   {
    font-size: 3.13vw;
    font-weight: 600;
}

hr {
    width: 15.63vw;
    background-color: #B4ABAB;
    height: 3px;
    padding: 0;
    margin: 0.28vh 0 0.28vh;
    border: 0;
}

/*.businessman-dream p {*/
/*    font-size: 2.34vw;*/
/*    margin: 0;*/
/*}*/

.businessman-dream-cont {
    display: flex;
    justify-content: space-between;
}

.businessman-dream img {
    /* original image size is 582 x 454 */
    width: 45.47vw;
    margin-left: 4.77vw;
}

.everything-simple h1{
    font-size: 4.3vw;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 1.68vh 0 1.68vh 0;
}

.everything-simple h2 {
    font-size: 3.13vw;
    font-weight: 600;
}

.everything-simple-cont {
    display: flex;
    justify-content: space-between;
}

.everything-simple-cont img {
    margin-left: 4.38vw;
    width: 44.06vw;
}

.everything-simple-scheme {
    display: flex;
    justify-content: space-between;
}

.everything-simple-block {
    position: relative;
    height: 222px;
    width: 259px;
    margin-top: 140px;
    background-image: url('../img/evrth-simple-rectangle.svg');
}

/*.everything-simple-rect {*/
/*    width: 19vw;*/
/*}*/

.everything-simple-circle {
    position: absolute;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    bottom: 182px;
    left: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.everything-simple-scheme-pic {
    position: absolute;
    margin: auto;
}

.everything-simple-scheme h3 {
    position: absolute;
    font-weight: 600;
    font-size: 20px;
    top: 54px;
    left: 25px;
    width: 210px;
    text-align: center;
    display: flex;
    justify-content: center;

}

.everything-simple-scheme hr {
    position: absolute;
    bottom: 105px;
    left: 23px;
    width: 209px;
}

.everything-simple-scheme p {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    top: 120px;
    left: 25px;
    width: 210px;
}

.choose-sphere h1 {
    font-weight: 700;
    font-size: 3.9vw;
    color: #3F3D56;
    text-align: center;
    margin: 1.68vh 0 1.68vh 0;
}

.choose-sphere-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.choose-sphere-rectangle {
    position: relative;
    padding: 0;
    margin: 0;
    /*width: 525px;*/
    height: 305px;
    width: 41vw;
    min-width: 480px;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 7px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
    border: 1px solid transparent;
    border-bottom-width: 2px;
}

.choose-sphere-rectangle:hover {
    border: 1px solid #3F3D56;
    border-bottom-width: 2px;
}

.girl-with-cart {
    position: absolute;
    z-index: 1;
    padding: 0;
    margin: 0;
    /*bottom: 23px;*/
    /*left: 233px;*/
    bottom: 20px;
    right: 0;
}

.beige-figure {
    position: absolute;
    padding: 0;
    margin: 0;
    /*top: 85px;*/
    /*left: 295px;*/
    bottom: 5%;
    right: 5%;
}

.choose-sphere-circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    top: 232px;
    left: 33px;
    cursor: pointer;
    border: 0;
}

.choose-sphere h2 {
    position: absolute;
    top: 15px;
    left: 33px;
    font-weight: 600;
    font-size: 40px;
}

.gone-shopping {
    position: absolute;
    right: 42px;
    bottom: 34px;
    z-index: 1;
}

.choose-sphere-arrow {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 0;
    height: 0;
    border-top: 10px solid white;
    border-left: 15px solid black;
    border-bottom: 10px solid white;
}

.special-event {
    position: absolute;
    /*left: 200px;*/
    /*bottom: 24px;*/
    bottom: 5%;
    right: 0;
}

.design-pic {
    position: absolute;
    /*left: 220px;*/
    /*bottom: 17px;*/
    right: 0;
    bottom: 10%;
    z-index: 1;
}

.article-header h1 {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin: 120px 0 39px 0;
}

.body-menu {
    width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.body-menu a {
    /*margin-right: 6.3vw;*/
}

/*.income-growth {*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    font-size: 30px;*/
/*    font-weight: 600;*/
/*    text-align: center;*/
/*    width: 69.8vw;*/
/*    margin: 53px auto 140px auto;*/
/*}*/

.article-header-about p {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    width: 69.8vw;
    margin: 53px auto 140px auto;
}

.body-button {
    margin-left: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 600;
    padding: 5px 10px 5px 10px;
    border: none;
    text-decoration: none;
    display: inline-block;
    background: transparent;
    border-radius: 24px;
    cursor: pointer;
}

.body-button:hover {
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
}

.scenarios-scheme-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.scenarios-scheme-text {
    width: 47%;
}

.scenarios-rect {
    position: relative;
    padding: 0;
    /*width: 525px;*/
    /*height: 355px;*/
    width: 47%;
    height: 355px;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 7px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
    border: 1px solid transparent;
    border-bottom-width: 2px;
}

.scenarios-rect img {
    position: absolute;
    bottom: 70px;
    left: 40px;
    width: 55%;
    max-width: 371px;
}

.ring-right {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: radial-gradient(ellipse at center,
    transparent 69%, #fcfcfc 0);
    right: -50px;
    top: -50px;
}

.ring-left {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: radial-gradient(ellipse at center,
    transparent 69%, #fcfcfc 0);
    left: -50px;
    top: -50px;
}

.income {
    position: absolute;
    font-size: 30px;
    color: white;
    font-weight: 600;
    right: 44px;
    bottom: 60px;
}

.income-percentage {
    position: absolute;
    font-size: 50px;
    color: white;
    font-weight: 600;
    right: 20px;
    bottom: 5px;
}

.scenarios-scheme-text h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 35px;
}

.scenarios-scheme-text p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.to-order button {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
    padding: 16px 81px 16px 81px;
    margin: 35px 0 78px 0;
    border: none;
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 8px;
    cursor: pointer;
}

.cash-scheme {
    display: flex;
    justify-content: space-between;
}

.cash-description {
    width: 38.4vw;
}

.cash-description h2{
    font-weight: 700;
    font-size: 50px;
}

.cash-description h3 {
    font-weight: 600;
    font-size: 40px;
}

.cash-description p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 12px;
}
.cash-pic {
    position: relative;
    width: 566px;
    height: 455px;
}

.green-figure {
    position: absolute;
    top: 0;
    left: 0;
}

.beige-figure-hor {
    position: absolute;
    top: 75px;
    left: 130px;
}

.kkt-neva {
    position: absolute;
    top: 120px;
    left: 70px;
}

.cash-pic p {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    bottom: -90px;
    left: 150px;
}

.cash-pic p img {
    margin-left: 7px;
}

.choose-solution-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.constructor {
    width: 60%;
}

.constructor label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #898989;
    font-size: 20px;
}

.prediction {
    width: 30%;
    height: 100%;
    background-color: white;
    padding: 19px 23px 35px 23px;
    box-shadow: 0 1px 15px lightgray;
    border-radius: 8px;
}

.prediction-label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #898989;
    font-size: 25px;
}

.prediction hr {
    width: 100%;
    margin: 5% 0 5% 0;
}

.prediction output {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: black;
}

.prediction p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #898989;
}


.costs-and-kkt {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #898989;
    margin-top: 8%;
}

.submit-application {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
    /*padding: 16px 81px 16px 81px;*/
    padding: 5% 20% 5% 20%;
    margin-top: 88px;
    border: none;
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.user-input {
    display: block;
    border: 0;
}

.footer-container {
    width: 57%;
}

address {
    font-style: normal;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contacts {
    width: 46%;
}

.contacts p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.contacts a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: black;
}

.contacts hr {
    background-color: black;
    width: 100%;
    height: 1px;
}

.licence {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 40px 0 72px 0;
}

.footer-rect {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 500px;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    margin: 0;
    z-index: -2;
}

.footer-tri {
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
    z-index: -1;
    border-bottom: 100px solid transparent;
    border-left: 50vw solid transparent;
    border-top: 100px solid #fcfcfc;
    border-right: 50vw solid transparent;
}