body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background: #fcfcfc;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 2.34vw;
    margin: 0;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    background: white;
    font-size: 1.56vw;
    padding: 4px 0 4px 0;
    box-shadow: 0 1px 15px whitesmoke;
    z-index: 2;
}

header a {
    color: black;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
}

.container {
    width: 84vw;
    margin: 0 auto;
    /*чтобы спозиционировать по центру*/
}

.menu {
    display: flex;
    margin-left: auto;
    font-weight: 600;
}

.menu li {
    margin-right: 1.41vw;
}

.menu a:hover {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}

.logo{
    margin-right: 19.45vw;
}

.phone {
    margin-left: auto;
    margin-right: 1.33vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.56vw;
    color: #3F3D56;
}

.backCall button {
    margin-left: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.56vw;
    font-weight: 600;
    padding: 10px 7px 10px 7px;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 25px;
    cursor: pointer;
}

.businessman-dream h1 {
    font-size: 4.3vw;
    font-weight: 700;
    /*margin-top: 0.756vh;*/
    /*margin-bottom: 1.82vh;*/
    margin-top: 0.756vh;
    margin-bottom: 1.82vh;
}

.businessman-dream h2   {
    font-size: 3.13vw;
    font-weight: 600;
}

hr {
    width: 15.63vw;
    background-color: #B4ABAB;
    height: 3px;
    padding: 0;
    margin: 0.28vh 0 0.28vh;
    border: 0;
}

/*.businessman-dream p {*/
/*    font-size: 2.34vw;*/
/*    margin: 0;*/
/*}*/

.businessman-dream-cont {
    display: flex;
    justify-content: space-between;
}

.businessman-dream img {
    /* original image size is 582 x 454 */
    width: 45.47vw;
    margin-left: 4.77vw;
}

.everything-simple h1{
    font-size: 4.3vw;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 1.68vh 0 1.68vh 0;
}

.everything-simple h2 {
    font-size: 3.13vw;
    font-weight: 600;
}

.everything-simple-cont {
    display: flex;
    justify-content: space-between;
}

.everything-simple-cont img {
    margin-left: 4.38vw;
    width: 44.06vw;
}

.everything-simple-block {
    position: relative;
    width: 249px;
    height: 211px;
}

.everything-simple-circle {
    position: absolute;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    bottom: 172px;
    left: 94px;
}

.everything-simple-scheme-pic {
    position: absolute;
    left: 117px;
    bottom: 192px;
}

.everything-simple-scheme h3 {
    position: absolute;
    font-weight: 600;
    font-size: 20px;
    top: 47px;
    left: 52px;
    text-align: center;
}

.everything-simple-scheme hr {
    position: absolute;
    bottom: 97px;
    left: 23px;
    width: 209px;
}

.everything-simple-scheme p {
    position: absolute;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    bottom: 13px;
    left: 20px;
}

.choose-sphere h1 {
    font-weight: 700;
    font-size: 3.9vw;
    color: #3F3D56;
    display: flex;
    justify-content: center;
    margin: 1.68vh 0 1.68vh 0;
}

.choose-sphere-cont {
    display: flex;
    flex-wrap: wrap;
}

.choose-sphere-products {
    margin-bottom: 30px;
}

.choose-sphere-other {
    margin-left: auto;
}

.choose-sphere-favours {
    margin-left: auto;
}

.choose-sphere-rectangle {
    position: relative;
    padding: 0;
    margin: 0;
    width: 525px;
    height: 305px;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 7px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
    border: 1px solid transparent;
    border-bottom-width: 2px;
}

.choose-sphere-rectangle:hover {
    border: 1px solid #3F3D56;
    border-bottom-width: 2px;
}

.girl-with-cart {
    position: absolute;
    z-index: 1;
    padding: 0;
    margin: 0;
    bottom: 23px;
    left: 233px;
}

.beige-figure {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 85px;
    left: 295px;
}

.choose-sphere-circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    top: 232px;
    left: 33px;
}

/*.choose-sphere-arrow {*/
/*    position: absolute;*/
/*    top: 18px;*/
/*    left: 18px;*/
/*    width: 20px;*/
/*    height: 18px;*/
/*    background-color: black;*/
/*}*/

.choose-sphere h2 {
    position: absolute;
    top: 15px;
    left: 33px;
    font-weight: 600;
    font-size: 40px;
}

.gone-shopping {
    position: absolute;
    right: 42px;
    bottom: 34px;
    z-index: 1;
}

.choose-sphere-arrow {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 0;
    height: 0;
    border-top: 10px solid white;
    border-left: 15px solid black;
    border-bottom: 10px solid white;
}

.special-event {
    position: absolute;
    left: 200px;
    bottom: 24px;
}

.design-pic {
    position: absolute;
    left: 220px;
    bottom: 17px;
    z-index: 1;
}