body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background: #fcfcfc;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 2.34vw;
    margin: 0;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    background: white;
    font-size: 1.56vw;
    padding: 4px 0 4px 0;
    box-shadow: 0 1px 15px whitesmoke;
}

header a {
    color: black;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
}

.container {
    width: 84vw;
    margin: 0 auto;
    /*чтобы спозиционировать по центру*/
}

.menu {
    display: flex;
    margin-left: auto;
    font-weight: 600;
}

.menu li {
    margin-right: 1.41vw;
}

.menu a:hover {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}

.logo{
    margin-right: 19.45vw;
}

.phone {
    margin-left: auto;
    margin-right: 1.33vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.56vw;
    color: #3F3D56;
}

.backCall button {
    margin-left: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.56vw;
    font-weight: 600;
    padding: 10px 7px 10px 7px;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 25px;
    cursor: pointer;
}

.businessman-dream h1 {
    font-size: 4.3vw;
    font-weight: 700;
    /*margin-top: 0.756vh;*/
    /*margin-bottom: 1.82vh;*/
    margin-top: 0.756vh;
    margin-bottom: 1.82vh;
}

.businessman-dream h2   {
    font-size: 3.13vw;
    font-weight: 600;
}

hr {
    width: 15.63vw;
    background-color: #B4ABAB;
    height: 1px;
    padding: 0;
    margin: 0.28vh 0 0.28vh;
}

/*.businessman-dream p {*/
/*    font-size: 2.34vw;*/
/*    margin: 0;*/
/*}*/

.businessman-dream-cont {
    display: flex;
    justify-content: space-between;
}

.businessman-dream img {
    /* original image size is 582 x 454 */
    width: 45.47vw;
    margin-left: 4.77vw;
}

.everything-simple h1{
    font-size: 4.3vw;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 1.68vh 0 1.68vh 0;
}

.everything-simple h2 {
    font-size: 3.13vw;
    font-weight: 600;
}

.everything-simple-cont {
    display: flex;
    justify-content: space-between;
}

.everything-simple-cont img {
    margin-left: 4.38vw;
    width: 44.06vw;
}
