html {
    font-family: 'Inter', sans-serif;
}


.container {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login {
    font-size: 17px;
    padding: 0.7em 1em;
    border: 0;
    background: white;
    border-radius: 8px;
    margin-top: 1%;
    display: block;
    width: 240px;
    padding-bottom: 24px;
}

.password {
    font-size: 17px;
    padding: 0.7em 1em;
    border: 0;
    background: white;
    border-radius: 8px;
    margin-top: 1%;
    display: block;
    width: 240px;
    padding-bottom: 24px;
}

.login-button {
    margin-left: auto;
    font-size: 17px;
    width: 240px;
    height: 48px;
    padding: 13px 35px;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    background: #6979F8;
    border-radius: 10px;
    cursor: pointer;
}